<header class="header">
    <a href="./main.php">
      <img
        class="logo"
        src="../Connexion-Inscription/logo-transparent-pdf.png"
        alt="Logo Synapse"
      />
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="#">Devenez Prestataire</a></li>
        <li><a href="../Concept/concept.html">Concept</a></li>
      </ul>
    </nav>
  
    <div class="icon">
      <i class="fa-regular fa-heart" aria-label="Favoris"></i>
      <a href="panier.html" class="panier-link" aria-label="Panier">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="panier-count" id="panier-count">0</span>
      </a>
      <div class="profile-dropdown">
        <a href="#" class="connexion-profil" aria-label="Profil">
          <i class="fa-solid fa-user"></i>
        </a>
        <div class="dropdown-content">
          <a href="../Connexion-Inscription/login_form.php"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a>
          <a href="mes-activites.php"><i class="fa-solid fa-calendar-days"></i> Mes activités</a>
          <a href="../Compte/mon-espace.html"><i class="fa-solid fa-gear"></i> Paramètres</a>
        </div>
      </div>
    </div>
  </header>