body {
    margin: 0;    
    /* en relative pour pouvoir positionner le footer correctement */
}
/*1 partie header */
.header{
    background-color: #828977 ;
    color: #E4D8C8;
    display: flex;
    gap: 40px;

}
/* ici la taille du logo adapte la taille du container mais on peut faire differemment en reglant directement la taille du header puis celle du logo */
.logo{
    height: 50px;
}


.container-icones{
    display: flex;
    position: absolute;
    right:10px;
    top: 10px;
    gap: 20px;

}
.connexion-profil{
    color: #E4D8C8
}


/* 7 footer */
/* 
.footer{
    background-color: #828977;
    height: 80px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.footer1{
    color: #E4D8C8;
    left: 80px;
    bottom:45px ;
    font-weight: bold;
}
.footer2{
    color: #E4D8C8;
    left: 150px;
    bottom:45px ;
    font-weight: bold;
}
.footer3{
    color: #E4D8C8;
    left: 225px;
    bottom:45px ;
    font-weight: bold;
}

.fa-phone{
    color: #E4D8C8;
    font-size: 28px;
    left: 900px;
    bottom:45px ;
}
.footer4{
    color: #E4D8C8;
    left: 935px;
    bottom:45px ;
    font-weight: bold;
}
.footer5{
    color: #E4D8C8;
    left: 935px;
    bottom:10px ;
    font-weight: bold;
}
.fa-envelope{
    color: #E4D8C8;
    font-size: 28px;
    left: 900px;
    bottom:10px ;

}
.footer6{
    color: #E4D8C8;
    left: 1130px;
    bottom:45px ;
    font-weight: bold;
}
.fa-facebook-f{
    font-size: 28px;
    color: #E4D8C8;
    left: 1100px;
    bottom:45px ;

}
.footer7{
    color: #E4D8C8;
    left: 1130px;
    bottom:10px ;
    font-weight: bold;
}
.fa-instagram{
    font-size: 28px;
    color: #E4D8C8;
    left: 1100px;
    bottom:10px ;

}
.footer8{
    color: #E4D8C8;
    left: 1310px;
    top:10px ;
    font-weight: bold;
}
.footer9{
    color: #E4D8C8;
    left: 1310px;
    top:35px ;
    font-weight: bold;
}



.conditions{
    display: inline-block;
}

.fa-square-plus{
    color: #828977;
    font-size: 70px;

    top:250px ;
    left: 100px;
} */