* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #828977;
    color: #E4D8C8;
    padding: 10px 35px; 
  }
  
  .logo {
    height: 50px;
  }
  .connexion-profil{
    color: #E4D8C8
  }
  
  .nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 90px;             
  }
  
  .nav-links a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  /* activite.css */

main {
    padding: 30px;
    background-color: #e4d8c8;
  }
  
  main section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  main img.category-banner {
    width: 100%;
    border-radius: 10px;
  }
  
  main h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #4b4b4b;
  }
  
  .activity-card {
    background-color: #8c7753;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
  }
  
  .activity-card img.activity-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .activity-card .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .activity-card .stars {
    font-size: 1.2em;
  }
  
  .activity-card button.participer {
    background-color: #7e8c77;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .activity-card button.participer:hover {
    background-color: #6b7c66;
  }
  
  .activity-card p {
    margin: 5px 0;
  }
  
  .activity-card p strong {
    font-weight: bold;
  }  
  
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #828977;
    color: #e4d8c8;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .footer ul {
    list-style: none;
  }
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: inherit;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  